/* line 5, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/forms.scss */
textarea,
input:focus,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  padding: 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 37, ../sass/forms.scss */
textarea:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #00E4FF;
  outline: 0;
}

/* line 58, ../sass/forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 67, ../sass/forms.scss */
input, select, textarea, button {
  font-size: 16px;
}

/* line 68, ../sass/forms.scss */
input.input-text, textarea {
  padding: 8px;
}

/* line 69, ../sass/forms.scss */
select {
  padding: 15px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
}

/* line 78, ../sass/forms.scss */
select option {
  padding-right: 10px;
}

/* line 79, ../sass/forms.scss */
select.multiselect option {
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
}

/* line 80, ../sass/forms.scss */
select.multiselect option:last-child {
  border-bottom: 0;
}

/* line 81, ../sass/forms.scss */
textarea {
  overflow: auto;
}

/* line 82, ../sass/forms.scss */
input.radio {
  margin-right: 3px;
}

/* line 83, ../sass/forms.scss */
input.checkbox {
  margin-right: 3px;
}

/* line 84, ../sass/forms.scss */
input.qty {
  width: 2.5em;
}

/* line 86, ../sass/forms.scss */
.button {
  display: inline-block;
  padding: 15px 40px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
}

/* line 109, ../sass/forms.scss */
.button.no-border {
  border: none;
}

/* line 113, ../sass/forms.scss */
.button.light-border {
  border: 1px solid #eeeeee;
}

/* line 117, ../sass/forms.scss */
.button:hover,
.button:focus {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration: none;
  outline: none;
}

/* line 119, ../sass/forms.scss */
.button-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 120, ../sass/forms.scss */
.button-small {
  padding: 2px 10px;
  font-size: 11.9px;
}

/* line 121, ../sass/forms.scss */
.button-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 122, ../sass/forms.scss */
.button-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 123, ../sass/forms.scss */
.button-block + .button-block {
  margin-top: 5px;
}

/* line 125, ../sass/forms.scss */
.form {
  overflow: auto;
}

/* line 129, ../sass/forms.scss */
.form-button {
  display: block;
  padding-top: 10px;
}

/* line 134, ../sass/forms.scss */
.form-button .button {
  float: right;
}

/* line 137, ../sass/forms.scss */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #00E4FF;
  font-weight: 100;
}

/* line 145, ../sass/forms.scss */
.field {
  margin-bottom: 25px;
}

/* line 3, ../sass/alerts.scss */
div.inform-message {
  background: #f7f7f7;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: visible;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 16, ../sass/alerts.scss */
div.inform-fixed {
  top: 37px;
}
@media all and (max-width: 46.24em) {
  /* line 16, ../sass/alerts.scss */
  div.inform-fixed {
    top: 20px;
  }
}

/* line 24, ../sass/alerts.scss */
div.inform-message.alert-info,
div.inform-message.alert-default {
  border-left: 10px solid #00E4FF;
  color: #00E4FF;
}

/* line 30, ../sass/alerts.scss */
div.inform-message.alert-success {
  border-left: 10px solid #5CB85A;
  color: #5CB85A;
}

/* line 35, ../sass/alerts.scss */
div.inform-message.alert-danger {
  border-left: 10px solid #d9534f;
  color: #d9534f;
}

/* line 40, ../sass/alerts.scss */
div.inform-message.alert-warning {
  border-left: 10px solid #f0ad4e;
  color: #f0ad4e;
}

/* line 45, ../sass/alerts.scss */
div.inform-message-content {
  float: left;
}

/* line 49, ../sass/alerts.scss */
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  position: relative;
  top: -8px;
  outline: none;
}

/* line 67, ../sass/alerts.scss */
button.close:hover {
  opacity: .5;
}

/* line 16, ../sass/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #ffffff;
  color: #74777b;
}

/* line 23, ../sass/style.scss */
a {
  color: #0c7bf8;
  text-decoration: underline;
}

/* line 27, ../sass/style.scss */
a:active,
a:hover,
a:valid {
  outline: none;
}

/* line 33, ../sass/style.scss */
.upper-section-wrap {
  background: #382828 url("../../img/bg.jpg") no-repeat;
  background-size: 100%;
  height: 100vh;
}

/* line 39, ../sass/style.scss */
.header-wrap .header {
  max-width: 1200px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  padding: 0px 20px;
}
@media all and (min-width: 48em) {
  /* line 39, ../sass/style.scss */
  .header-wrap .header {
    height: 120px;
  }
}

/* line 51, ../sass/style.scss */
.header-wrap .header .logo {
  width: 100%;
}
@media all and (min-width: 48em) {
  /* line 51, ../sass/style.scss */
  .header-wrap .header .logo {
    width: 50%;
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* line 64, ../sass/style.scss */
.header-wrap .header .logo img {
  max-width: 270px;
  width: 100%;
  position: relative;
  top: 2px;
}

@media all and (min-width: 48em) {
  /* line 71, ../sass/style.scss */
  .header-wrap .header .menu {
    width: 240px;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

/* line 84, ../sass/style.scss */
.header-wrap .header .menu a {
  float: left;
  display: block;
  padding: 16px;
  width: 120px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* line 97, ../sass/style.scss */
.header-wrap .header .menu a:hover,
.header-wrap .header .menu a.sign-up:hover {
  border-color: #ffe400;
  color: #ffe400;
}

/* line 103, ../sass/style.scss */
.header-wrap .header .menu a.sign-up {
  border: 1px solid #ffffff;
  border-radius: 40px;
}

/* line 112, ../sass/style.scss */
.main-wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 124, ../sass/style.scss */
.main-wrap .main {
  max-width: 1200px;
  margin: 0px auto;
}

/* line 130, ../sass/style.scss */
.currently-serving {
  margin: 0px auto;
  width: 70%;
}
@media all and (max-width: 47.99em) {
  /* line 130, ../sass/style.scss */
  .currently-serving {
    width: 92%;
  }
}

/* line 139, ../sass/style.scss */
.currently-serving .title {
  border-bottom: 1px solid #ffe400;
  padding-bottom: 20px;
  margin: 0px 5px 20px 5px;
}

/* line 145, ../sass/style.scss */
.currently-serving .title h3 {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
@media all and (max-width: 47.99em) {
  /* line 145, ../sass/style.scss */
  .currently-serving .title h3 {
    font-size: 18px;
    font-weight: 300;
  }
}

/* line 161, ../sass/style.scss */
.currently-serving .beer h1 {
  font-weight: 600;
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
}

/* line 168, ../sass/style.scss */
.currently-serving .brewery {
  margin-bottom: 30px;
}

/* line 172, ../sass/style.scss */
.currently-serving .brewery h3 {
  font-weight: 100;
  font-size: 40px;
  color: #fff;
  padding-left: 3px;
  width: 280px;
}

/* line 180, ../sass/style.scss */
.buy-a-pint {
  width: 290px;
  border: 5px solid #fff;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 600;
  margin: 0px auto;
  cursor: pointer;
  color: #333;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 192, ../sass/style.scss */
.buy-a-pint .price {
  background: #ffe400;
  float: left;
  width: 70px;
  padding: 20px;
  text-align: center;
  border-radius: 50px 0px 0px 50px;
  margin-right: 20px;
}

/* line 202, ../sass/style.scss */
.buy-a-pint .tagline {
  padding: 20px;
  color: #fff;
}

/* line 207, ../sass/style.scss */
.upper-footer-wrap {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

/* line 214, ../sass/style.scss */
.upper-footer {
  max-width: 1200px;
  font-weight: 100;
  margin: 0px auto;
  padding: 30px;
  overflow: auto;
}

/* line 221, ../sass/style.scss */
p.latest {
  float: left;
  position: relative;
  padding-left: 60px;
}

/* line 226, ../sass/style.scss */
p.latest .avatar {
  position: absolute;
  left: 0;
  top: -15px;
}

/* line 231, ../sass/style.scss */
p.latest .avatar img {
  width: 45px;
  border-radius: 28px;
}

/* line 235, ../sass/style.scss */
p.latest strong {
  font-weight: bold;
}

/* line 238, ../sass/style.scss */
p.balance {
  float: right;
}

/* line 241, ../sass/style.scss */
p.balance strong {
  font-weight: bold;
}

/* line 245, ../sass/style.scss */
.two-column {
  overflow: auto;
}

@media all and (min-width: 48em) {
  /* line 248, ../sass/style.scss */
  .two-column .col1 {
    float: left;
    width: 48.5%;
  }
}

@media all and (min-width: 48em) {
  /* line 254, ../sass/style.scss */
  .two-column .col2 {
    float: right;
    width: 48.5%;
  }
}

/* line 261, ../sass/style.scss */
.box .box-title {
  font-weight: 700;
  font-size: 14px;
  background: #f3f3f3;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 269, ../sass/style.scss */
.box .box-content {
  margin-bottom: 30px;
}

/* line 272, ../sass/style.scss */
.box .box-content.border {
  border: 1px solid #f3f3f3;
  padding: 10px;
}

/* line 276, ../sass/style.scss */
.box .box-content.center-content {
  text-align: center;
}

/* line 279, ../sass/style.scss */
.label-value {
  margin-bottom: 10px;
  overflow: auto;
  line-height: 1.2em;
}

/* line 284, ../sass/style.scss */
.label-value:last-child {
  margin-bottom: 0px;
}

/* line 287, ../sass/style.scss */
.label-value .label {
  float: left;
  font-weight: 700;
}

/* line 291, ../sass/style.scss */
.label-value .value {
  float: right;
}

/* line 295, ../sass/style.scss */
.grid {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

/* line 300, ../sass/style.scss */
.grid .row {
  display: table-row;
  border-bottom: 1px solid #00E4FB;
}
@media all and (max-width: 47.99em) {
  /* line 300, ../sass/style.scss */
  .grid .row {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

/* line 309, ../sass/style.scss */
.grid .row:hover {
  cursor: pointer;
  background: #f3f3f3;
}

/* line 313, ../sass/style.scss */
.grid .row:last-child {
  border-bottom: none;
}

/* line 317, ../sass/style.scss */
.grid .row .item {
  display: table-cell;
  padding: 12px 0px 8px 0px;
  line-height: 26px;
}
@media all and (max-width: 47.99em) {
  /* line 317, ../sass/style.scss */
  .grid .row .item {
    display: block;
    padding: 0px;
    margin: 4px;
  }
}

/* line 328, ../sass/style.scss */
.grid .row .item .label {
  font-weight: 500;
}
@media all and (min-width: 48em) {
  /* line 328, ../sass/style.scss */
  .grid .row .item .label {
    display: none;
  }
}

/* line 334, ../sass/style.scss */
.grid .row .item.right {
  text-align: right;
}
@media all and (max-width: 47.99em) {
  /* line 334, ../sass/style.scss */
  .grid .row .item.right {
    text-align: left;
  }
}

@media all and (max-width: 47.99em) {
  /* line 342, ../sass/style.scss */
  .grid .row .item .value {
    float: right;
  }
}

/* line 347, ../sass/style.scss */
.grid .row .roundpic {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  border-radius: 13px;
  position: relative;
  top: -2px;
}

/* line 356, ../sass/style.scss */
.load-more {
  margin-top: 30px;
  background: #f3f3f3;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/* line 368, ../sass/style.scss */
.my-account-wrapper .my-account .tabs-container {
  background: #f3f3f3;
}

/* line 371, ../sass/style.scss */
.my-account-wrapper .my-account .tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
  max-width: 1200px;
  margin: 0px auto;
}

/* line 378, ../sass/style.scss */
.my-account-wrapper .my-account .tabs .tab-wrapper {
  display: table-row;
}

/* line 381, ../sass/style.scss */
.my-account-wrapper .my-account .tab {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-right: 1px solid #ccc;
}

/* line 390, ../sass/style.scss */
.my-account-wrapper .my-account .tab .tab-content {
  display: block;
  padding: 30px 0px;
}

/* line 395, ../sass/style.scss */
.my-account-wrapper .my-account .tab:first-child {
  border-left: 1px solid #ccc;
}

/* line 398, ../sass/style.scss */
.my-account-wrapper .my-account .tab.active {
  background: #fff;
  color: #444;
}

/* line 402, ../sass/style.scss */
.my-account-wrapper .my-account .account-content {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0px auto;
  overflow: auto;
}
@media all and (max-width: 47.99em) {
  /* line 402, ../sass/style.scss */
  .my-account-wrapper .my-account .account-content {
    padding-top: 30px;
  }
}

/* line 411, ../sass/style.scss */
.my-account-wrapper .my-account .header-title {
  font-size: 40px;
  color: #00E4FF;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7ecea;
  padding-bottom: 5px;
}
@media all and (max-width: 47.99em) {
  /* line 411, ../sass/style.scss */
  .my-account-wrapper .my-account .header-title {
    font-size: 30px;
  }
}

/* line 423, ../sass/style.scss */
.my-account-wrapper .my-account .user-form {
  max-width: 400px;
  margin: 0px auto;
}

/* line 427, ../sass/style.scss */
.my-account-wrapper .my-account .user-form .sub-links {
  text-align: center;
  padding-top: 40px;
}
@media all and (max-width: 29.99em) {
  /* line 427, ../sass/style.scss */
  .my-account-wrapper .my-account .user-form .sub-links {
    font-size: .8em;
  }
}

/* line 436, ../sass/style.scss */
.my-account-wrapper .my-account .user-form .sub-links a.create-new-account-link {
  text-align: center;
  padding-right: 30px;
}
@media all and (max-width: 29.99em) {
  /* line 436, ../sass/style.scss */
  .my-account-wrapper .my-account .user-form .sub-links a.create-new-account-link {
    padding-right: 15px;
  }
}

/* Balance */
/* line 446, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .balance {
  border-bottom: 5px dotted #e7ecea;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 800;
  overflow: auto;
}
@media all and (max-width: 29.99em) {
  /* line 446, ../sass/style.scss */
  .my-account-wrapper .my-account .account-content .balance {
    font-size: 25px;
    line-height: 30px;
  }
}

/* line 457, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .balance .balance-label {
  float: left;
  background: #fff;
  line-height: 50px;
}

/* line 462, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .balance .balance-value {
  float: right;
  background: #fff;
  line-height: 50px;
}

/* line 467, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .balance .balance-value.negative {
  color: red;
}

/* line 470, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .balance .balance-value.positive {
  color: green;
}

/* Purchases */
/* line 475, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .purchases {
  float: left;
  width: 48.5%;
}
@media all and (max-width: 61.99em) {
  /* line 475, ../sass/style.scss */
  .my-account-wrapper .my-account .account-content .purchases {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
}

/* line 485, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .purchases h2 {
  font-size: 20px;
  font-weight: 700;
  background: #00E4FB;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

/* Payments */
/* line 495, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .payments {
  float: right;
  width: 48.5%;
}
@media all and (max-width: 61.99em) {
  /* line 495, ../sass/style.scss */
  .my-account-wrapper .my-account .account-content .payments {
    float: none;
    width: 100%;
  }
}

/* line 504, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .payments h2 {
  font-size: 20px;
  font-weight: 700;
  background: #00E4FB;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

/* line 512, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .payments .charge {
  padding: 0 0 20px 0;
}

/* line 515, ../sass/style.scss */
.my-account-wrapper .my-account .account-content .payments .custom-amount-input {
  width: 300px;
}

/* Admin */
/* line 521, ../sass/style.scss */
.admin-nav-container {
  margin-bottom: 30px;
}
@media all and (min-width: 48em) {
  /* line 521, ../sass/style.scss */
  .admin-nav-container {
    float: left;
    width: 25%;
  }
}

/* line 528, ../sass/style.scss */
.admin-nav-container .admin-nav .vert-tab {
  padding: 15px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid #00E4FB;
}

/* line 535, ../sass/style.scss */
.admin-nav-container .admin-nav .vert-tab:first-child {
  border-top: 1px solid #00E4FB;
}

/* line 538, ../sass/style.scss */
.admin-nav-container .admin-nav .vert-tab.active {
  background: #00E4FB;
  color: #fff;
}

/* line 543, ../sass/style.scss */
.admin-content {
  position: relative;
}
@media all and (min-width: 48em) {
  /* line 543, ../sass/style.scss */
  .admin-content {
    border-left: 1px solid #00E4FB;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
    width: 75%;
    min-height: 300px;
    padding-left: 25px;
  }
}
/* line 557, ../sass/style.scss */
.admin-content .top-button {
  margin-bottom: 20px;
}
@media all and (min-width: 48em) {
  /* line 557, ../sass/style.scss */
  .admin-content .top-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
/* line 566, ../sass/style.scss */
.admin-content .top-button .button {
  padding: 5px 20px;
}

/* line 572, ../sass/style.scss */
.footer-wrap .footer {
  padding: 30px;
  font-weight: 100;
  font-size: 12px;
  border-top: 1px dashed #cccccc;
  text-align: center;
}
