<h1 class="header-title">Users</h1>
<div class="users" ng-init="users.loadAllUsers();">
    <div class="grid">
        <div class="scan row" ng-repeat="user in users.users" ui-sref="account.admin.users.edit({id:user._id})">
            <div class="item">
                <span class="label">Name</span>
                <span class="value"><img class="roundpic" ng-src="[[users.getProfilePicUrl(user)]]" /> [[user.first_name + ' ' + user.last_name]]</span>
            </div>
            <div class="item">
                <span class="label">Email</span>
                <span class="value">[[user.email]]</span>
            </div>
            <div class="item right">
                <span class="label">Balance</span>
                <span class="value">[[user.balance | customCurrency]]</span>
            </div>
        </div>
    </div>
</div>