<p>Hey Keg Master {{admin_user.first_name}}</p>
<p>Someone just bought a beer with a RFID Tag that is not associated to a user. Please log into you account and associate the scan to a user.</p>
<p>All My Love,</p>
<p>The Office Keg</p>