<p>My Dearest {{user.first_name}}</p>
<p>Use the link below to log into your account and reset your password.</p>
<h3><a href="{{{base_url}}}users/password-reset-login?token={{{token}}}&redirect=true" title="">Reset My Password</a></h3>
<p>This link above is valid for two hours.</p>
<p>All My Love,</p>
<p>The Office Keg</p>
