<p>Thanks {{user.first_name}}!</p>
<p>Enjoy that beverage! You've earned it.</p>
<p>You account has been debited ${{purchase.price}}.</p>
<p><a href="{{base_url}}purchases/cancel?purchase_id={{purchase._id}}&redirect=true" title="">Mistake or Bad Pour? Cancel It here.</a></p>
<p>All My Love,</p>
<p>The Office Keg</p>