<p>Hi {{user.first_name}}!</p>
<p>Welcome to The Office Keg! We are pysched that you've joined. You are now part of an exclusive group of beverage lovers. Seriously - we are an awesome group of people. You can expect your life to get way better from here on out.</p>
<p>Head on over to the keg and enjoy your first pint (or glass)!</p>
<p>Happy Drinking!</p>
<p>The Office Keg</p>