<h1 class="header-title">Messages</h1>
<div class="form">
    <div class="wrapper" ng-controller="app.controller.messages as messages">
        <form ng-submit="messages.notifyAllUsers()">
            <div class="field">
                <label for="subject">Message Subject</label>
                <input id="subject" type="text" ng-model="messages.subject" placeholder="Input a subject"/>
            </div>
            <div class="field">
                <label for="message">Message Body</label>
                <div trumbowyg-ng ng-model="messages.message" editor-config="{btns: ['viewHTML', 'formatting', 'btnGrp-semantic', 'superscript', 'subscript', 'link', 'insertImage', 'btnGrp-justify', 'btnGrp-lists', 'horizontalRule', 'removeformat', 'fullscreen']}" id="message" placeholder="Input a message to all users."></div>
            </div>
            <div class="form-button">
                <button type="submit" class="button button-default">Send</button>
            </div>
        </form>
    </div>
</div>
