<div class="user-form">
    <h2 class="header-title">Edit Your Account</h2>
    <div class="form" ng-submit="users.update(users.user);">
        <form>
            <div class="field">
                <label for="email">Email address</label>
                <input ng-model="users.user.email" type="email" required class="form-control" id="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="firstname">First Name</label>
                <input ng-model="users.user.first_name" type="text" required class="form-control" id="firstname" placeholder="First Name">
            </div>
            <div class="field">
                <label for="lastname">Last Name</label>
                <input ng-model="users.user.last_name" type="text" required class="form-control" id="lastname" placeholder="Last Name">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input ng-model="users.user.new_password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-button">
                <button type="submit" class="button button-default">Save</button>
            </div>
        </form>
    </div>
</div>