<div class="login">
    <h2 class="header-title">Sign In</h2>
    <div class="form" ng-submit="users.login(users.credentials);">
        <form>
            <div class="field">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="users.credentials.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="field">
                <label for="exampleInputEmail1">Password</label>
                <input ng-model="users.credentials.password" type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
            </div>
            <div class="form-button">
                <button type="submit" class="button button-default">Sign In</button>
            </div>
        </form>
    </div>
    <div class="sub-links">
        <a href="" title="Create a New Account" class="create-new-account-link">Create a New Account</a>
        <a href="" title="Reset Password" class="create-new-account-link">Reset Password</a>
    </div>
</div>