<div class="user-form">
    <h2 class="header-title">Password Reset</h2>
    <div class="form" ng-submit="users.sendPasswordResetEmail(email);">
        <form>
            <div class="field">
                <label for="passwordResetEmail">Email address</label>
                <input ng-model="email" type="email" required class="form-control" id="passwordResetEmail" placeholder="Enter email">
            </div>
            <div class="form-button">
                <button type="submit" class="button button-default">Reset Password</button>
            </div>
        </form>
    </div>
    <div class="sub-links">
        <a ui-sref="login" title="Login to my account." ng-click="app.scrollIntoView('#myaccount')" class="login-link">Login</a>
    </div>
</div>