@import "compass";
@import "compass/reset";
@import "../frameworks/sass-mq";

$mq-breakpoints: (
        mobile-sm: 320px,
        mobile:  480px,
        tablet:  768px,
        desktop: 992px,
        wide:    1200px,
);

body {
  font-family: 'Roboto', sans-serif;
  background: url("../../img/bg.jpg");
  background-size: 100%;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

.header-wrap .header {
  max-width: 1200px;
  margin: 30px auto;
  overflow: hidden;
}

.header-wrap .header .logo {
  float: left;
}

.header-wrap .header .logo img {
  max-width: 270px;
  width: 100%;
}

.header-wrap .header .menu {
  float: right;
  width: 240px;
}

.header-wrap .header .menu a {
  float: left;
  display: block;
  padding: 16px;
  width: 120px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  text-align: center;
}

.header-wrap .header .menu a.sign-up {
  border: 1px solid #ffffff;
  border-radius: 40px;
}

.main-wrap .main {
  max-width: 1200px;
  margin: 0px auto;
}

.currently-serving {
  margin: 80px auto 40px auto;
  width: 70%;
}

.currently-serving h3.title{
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffe400;
  margin: 0px 5px 30px 5px;
}

.currently-serving h1.beer {
  font-weight: 600;
  color: #fff;
  font-size: 98px;
  text-transform: uppercase;
}

.currently-serving h3.brewery {
  font-weight: 100;
  font-size: 40px;
  color: #fff;
  padding-left: 3px;
}

.buy-a-pint {
  width: 280px;
  border: 5px solid #fff;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 600;
  margin: 0px auto;
  cursor: pointer;
  color: #333;
  background-color:rgba(0, 0, 0, 0.5)
}
.buy-a-pint .price {
  background: #ffe400;
  float: left;
  width: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 50px 0px 0px 50px;
  margin-right: 20px;
}

.buy-a-pint .tagline {
  padding: 20px;
  color: #fff;
}
